{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#casestudies">case studies</a></li>
                    <li><a href="#features">features</a></li>
                    <li><a href="#pricing">pricing</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="social-media">
                    <li><a href="#cacebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#twiter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center py-3">
        <p>&copy; 2024 O.p.p. All rights reserved.</p>
    </div>
</footer>
